/* 1. */
header {
  background-color:darkmagenta;
  color:coral;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

p {
  color: blueviolet;
}

#p1 {
  color: aqua;
}

.p2 {
  background-color: bisque;
}

h1 {
  background-color: aquamarine;
  color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px;
  background-color: aqua;
  text-align: center;
}
