/* first div is parent with relative positioning and 3 div's 
are child in that div child haves absolute positioning and 
when absolute is used it doesnt give margin from right it 
gives margin from right parent side, that is our first div. */
div {
    position: relative;
}

.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 100px;
    display: inline-block;
}

.red {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 200px;
    display: inline-block;
}

/* fixed position fixes element on screen in that position, element wont move. */
.yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: fixed;
    display: inline-block;
}