.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    left: 200px;
    display: inline-block;
}

.red {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    right: 100px;
    display: inline-block;
}

.yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: relative;
    right: 100px;
    display: inline-block;
}